html,body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eee;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-button-prev,.swiper-button-next{
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: #007aff;
    cursor: pointer;
    z-index: 99;
    border: none;
    background-color:rgba(255, 255, 255, 0);
}
.swiper-button-next{
    left: 97.5%;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    /* transition: .3s opacity; */
    /* transform: translate3d(0,0,0); */
    z-index: 99;

    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination span{
    width: 10px;
    height: 10px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .5;
}
.active{
    background: #007aff !important;
    opacity: .8;
}